---
- name: Import packages
  synchronize:
    src: "{{ role_path }}/files/packages"
    dest: /home/centos/
    mode: push

- name: Find all rpm files in packages folder
  ansible.builtin.find:
    paths: "/home/centos/packages"
    patterns: "*.rpm"
  register: rpm_files

- name: Setting rpm_list
  ansible.builtin.set_fact:
    rpm_list: "{{ rpm_files.files | map(attribute='path') | list}}"

- name: installing the rpm files
  ansible.builtin.yum:
    name: "{{ rpm_list }}"
    state: present

- name: 'Config ELK'
  lineinfile:
    path:  "{{ item.path }}" 
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - { path: '/etc/elasticsearch/elasticsearch.yml', regexp: '^#cluster.name:', line: 'cluster.name: elk'}
    - { path: '/etc/elasticsearch/elasticsearch.yml', regexp: '^#node.name:', line: 'node.name: elk'}
    - { path: '/etc/elasticsearch/elasticsearch.yml', regexp: '^#network.host:', line: 'network.host: 0.0.0.0'}
    - { path: '/etc/elasticsearch/elasticsearch.yml', regexp: '^#cluster.initial_master_nodes:', line: 'cluster.initial_master_nodes: ["elk"]'}
    - { path: '/etc/elasticsearch/elasticsearch.yml', regexp: '^#http.port:', line: 'http.port: 9200'}
    - { path: '/etc/kibana/kibana.yml', regexp: '^#server.host:', line: 'server.host: 0.0.0.0'}
    - { path: '/etc/kibana/kibana.yml', regexp: '^#server.port', line: 'server.port: 5601'}
    - { path: '/etc/kibana/kibana.yml', regexp: '^#elasticsearch.hosts:', line: 'elasticsearch.hosts: ["http://localhost:9200"]'}
  notify:
    - restart elk
  ignore_errors: yes

- name: Firewalld service - firewalld is running
  systemd:
    name: firewalld
    enabled: true
    state: started  

- name: Add port to firewalld
  firewalld:
    port: "{{ item }}"
    permanent: yes
    state: enabled
  loop:
    - 5601/tcp
    - 9200/tcp
    - 9300/tcp

- name: 'Reload Firewalld'
  systemd:
    name: firewalld
    state: reloaded    
